@import "tailwindcss";


@theme inline{
  --font-body: var(--font-roboto);
  --font-heading: var(--font-instrument) !important;
  --font-poppins: var(--font-poppin);
}

@layer base {
  body {
    /* background: linear-gradient(
      28deg,
      rgba(253, 253, 253, 1) 12%,
      rgba(231, 231, 231, 1) 25%,
      rgba(237, 237, 237, 1) 35%,
      rgba(255, 255, 255, 1) 42%,
      rgba(229, 229, 229, 1) 50%,
      rgba(229, 229, 229, 1) 61%,
      rgba(229, 229, 229, 1) 76%
    ); */
    @apply bg-[#d9d9d9] font-body;
  }
}



html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
